.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  color: Gray;
  text-align: center;
}

p {
  color: Gray;
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

ul {
  color: Purple;
  font-size: 18px;
  text-align: center;
}
